[submodule "Libraries/TCAsyncHashProtocol"]
	path = Libraries/TCAsyncHashProtocol
	url = git@github.com:nevyn/TCAsyncHashProtocol.git
[submodule "Libraries/AsyncSocket"]
	path = Libraries/AsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
